
#aboutMe a{
  text-decoration: none;
  color: white;
}
#aboutMe h1{
  color: white;
  font-size: 3vw;
  margin: auto;
}

#aboutMe{
  display: flex;
  color: white;
  height: 72vh;
  justify-content: center;
  margin-top: 100px;
}

#aboutMe h2{
  font-size: 1.5rem;
}

.aboutMeContainer{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  color: white;
}

.aboutContent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  max-width: 80%;
  height: auto;
}


#aboutMe p{
  align-self: center;
  font-size: 1.5rem;
  color: white;
}

/* Media Query */
@media(max-device-width: 1000px){ 
    #aboutMe p{
      align-self: center;
      font-size: 2.4vw;
      width: 100%;
      margin-top: 32px;
    }
}

/* Media Query */
@media(max-device-width: 1500px){ 
    .aboutMeContainer{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: start;
      max-height: 60vh;
    }
}

@media(max-device-width: 600px){
    #aboutMe h1{
      font-size: 18px;
    }
    #aboutMe p{
      font-size: 12px;
    }
    #projects{
      margin-top: 128px;
    }
}