:root{
/* 1 */
--dark: #61828A;
--light: #DFE9EB;
--blue: #ABC3CD;
--mist: #A9CCCF;

/* 2 */
--dark1: #303655;
--light1: #BFCBCE;
--blue1: #84A7BA;
--deep: #6F90AF;

--night: #49608d;

/* Sky */
--skyblue: #0487E2;
--deepskyblue: #0463CA;
--cloudblue: #B0D6F5;
--lightskyblue: #65C2F5;
--brightskyblue: #09B1EC;

--i: 0;
}

body{
  font-family: 'VT323', monospace;
  background: rgb(41, 91, 128);
  color: whitesmoke;
}

.App {
  width: 100vw;
}
