#contactMe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color:white;
  padding-bottom: 5%;
  /* background-color: var(--night); */
}


#contactMe h1{
  font-size: 1.5vw;
}

.socials{
  display: flex;
  flex-direction: row;
}

.socials svg{
  color: white;
  margin: 8px;
  width: 32px;
  height: 32px;
}

