.header{
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 24px;
  z-index: 2;

}

.header a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}