.header{
  display: flex;
  height: 60px;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  padding: 8px 48px;
  z-index: 2;

}

.header a{
  text-decoration: none;
  color:whitesmoke;
  padding: 0 16px;
  transition: 1s;
}

.header a:hover{
  color: greenyellow;
}

.header span{
  color:greenyellow;
}

#resume{
  text-decoration: none;
  color: greenyellow;
  font-size: 16px;
  border: 1px greenyellow solid;
  padding: 4px;
  align-self: center;
  transition: 1s;
  text-align: center;
}

#resume:hover{
  scale: 1.06;
  color: greenyellow;
  border: 1px greenyellow solid;
  align-self: center;
}