.header{
  display: flex;
  height: 60px;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  padding: 0 24px;
  z-index: 2;

}

.header a{
  text-decoration: none;
  color:rgb(255, 255, 255);
  padding: 0 16px;
}

.header span{
  color:rgb(112, 243, 60);
}

#resume{
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  border: 1px whitesmoke solid;
  padding: 4px;
  align-self: center;
  transition: 1s;
  text-align: center;
}

#resume:hover{
  scale: 1.06;
  color: white;
  border: 1px white solid;
  align-self: center;
}