.aboutMe a{
  text-decoration: none;
  color: var(--blue1);
}

.aboutMe{
  display: flex;
  color: var(--blue1);
  height: 100vh;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.aboutMeContainer{
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 5%;
  padding: 16px;
  width: 80%;
  /* background-color: rgba(219, 239, 255, 0.4); */
  border-radius: 2px;
  /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
}

#resume{
  width: 6rem;
  border: 1px var(--blue1) solid;
  padding: 4px;
  align-self: center;
  transition: 1s;
}

#resume:hover{
  scale: 1.06;
  color: var(--dark);
  border: 1px var(--dark) solid;
  align-self: center;
}

.aboutMe p{
  justify-content: center;
  width: 50%;
}
