.aboutMe a{
  text-decoration: none;
  color: var(--blue1);
}
.aboutMe h1, .skills h1{
  color: var(--blue1);
  font-size: 3vw;
}
h2{
  width: fit-content;
}
.aboutMe{
  display: flex;
  color: var(--blue1);
  background-color: white;
  height: 72vh;
  justify-content: center;
  margin-top: 100px;
}

.aboutMeContainer, .skills{
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 16px;
  flex-direction: row;
  padding: 16px;
  width: 100%;
  border-radius: 2px;
  color: var(--blue1);
}
.skills{
  height: 60vh;
}

.aboutContent, .skillsContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  max-width: 60%;
}

.skillCategory{
  max-width: 90%;
}

hr{
  height: 1px;
  background-color: var(--blue1);
  border: none;
}

.aboutMe p{
  align-self: center;
  font-size: 1.4vw;
  width: 80%;
  color: var(--blue1)
}

.skillList{
  display: flex;
  flex-wrap: wrap;
}


/* Media Query */
@media screen 
  and (max-device-width: 1000px){ 
    .aboutMeContainer, .skills{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: start;
      max-height: 50vh;
    }
    .aboutMe p{
      align-self: center;
      font-size: 2.4vw;
      width: 100%;
      color: var(--blue1)
    }
    .aboutMe{
      height: 42vh;
    }
}

@media screen 
  and (max-device-width: 600px){
    .skillCategory{
      scale: .72;
    }
}