:root{
/* 1 */
--dark: #61828A;
--light: #DFE9EB;
--blue: #ABC3CD;
--mist: #A9CCCF;

/* 2 */
--dark1: #303655;
--light1: #BFCBCE;
--blue1: #84A7BA;
--deep: #6F90AF;

--night: #647494;

/* Sky */
--skyblue: #0487E2;
--deepskyblue: #0463CA;
--cloudblue: #B0D6F5;
--lightskyblue: #65C2F5;
--brightskyblue: #09B1EC;

--i: 0;
}

body{
  font-family: 'Nanum Myeongjo', serif;
  background: rgba(45,166,253,1);
  background: linear-gradient(180deg, rgba(45,166,253,1) 0%, rgba(72,180,253,1) 20%, rgba(255,255,255,1) 23%,rgba(255,255,255,1) 100%);
  color: var(--light);
}

.App {
  width: 100%;
}

.home{
  display: flex;
  flex-direction: column;
}

/* Welcome */
#welcome{
  display: flex;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px 2px rgba(117, 117, 117, 0.5);
}

.welcomeContainer{
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 16px;
  width: 80%;
  border-radius: 2px;
  text-align: center;
}

.welcomeContainer h1{
  align-self: center;
}
.welcomeContainer h2{
  align-self: center;
}

/* Banner */
.banner{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: start;
}
.banner #text{
  position: relative;
  font-size: 4em;
  color: #fff;

}
.banner .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.banner .clouds img{
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}


/* Cloud Animation */
@keyframes animate {
  0%{
    opacity: 0;
    transform: scale(.8)
  }
  25%, 75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(2.8)
  }
}


/* Media Query */
@media screen 
  and (max-device-width: 820px){
    .banner{
      height: 72vh;
    }
    #welcome{
      height: 50vh;
    }
    .welcomeContainer h1, .welcomeContainer h2{
      scale: .72;
    }
    body{
      background: linear-gradient(180deg, rgba(45,166,253,1) 0%, rgba(72,180,253,1) 20%, rgba(255,255,255,1) 22%,rgba(255,255,255,1) 100%);
    }
}

@media screen 
  and (max-device-width: 360px)
  and (max-device-height: 740px){ 
    body{
      background: linear-gradient(180deg, rgba(45,166,253,1) 0%, rgba(72,180,253,1) 19%, rgba(255,255,255,1) 21.5%,rgba(255,255,255,1) 100%);
    }
}

@media screen 
  and (min-device-width: 540px)
  and (max-device-height: 740px){ 
    body{
      background: linear-gradient(180deg, rgba(45,166,253,1) 0%, rgba(72,180,253,1) 19%, rgba(255,255,255,1) 22%,rgba(255,255,255,1) 100%);
    }
}
