:root{
/* 1 */
--dark: #61828A;
--light: #DFE9EB;
--blue: #ABC3CD;
--mist: #A9CCCF;

/* 2 */
--dark1: #303655;
--light1: #BFCBCE;
--blue1: #84A7BA;
--deep: #6F90AF;

--night: #647494;

/* Sky */
--skyblue: #0487E2;
--deepskyblue: #0463CA;
--cloudblue: #B0D6F5;
--lightskyblue: #65C2F5;
--brightskyblue: #09B1EC;
}

body{
  font-family: 'Nanum Myeongjo', serif;
  background: rgb(169,231,255);
  background: linear-gradient(0deg, rgba(169,231,255,1) 0%, rgba(45,166,253,1) 100%);
  color: var(--light);
}

.App {
  text-align: center;
}

.welcome{
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px 2px rgba(117, 117, 117, 0.5);
}

.welcomeContainer{
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 16px;
  width: 80%;
  /* background-color: rgba(219, 239, 255, 0.4); */
  border-radius: 2px;
  /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
}

.welcomeContainer p{
  align-self: flex-start;
  padding-left: 24px;
}
.welcomeContainer h1{
  align-self: flex-start;
  padding-left: 24px;
}
.welcomeContainer h2{
  align-self: flex-start;
  padding-left: 24px;
}
