#projects a{
  /* text-decoration: none; */
  color: var(--light);
  margin: 12px;
}
#projects h1{
  color: var(--night);
  font-size: 3vw;
}
hr{
  height: 1px;
  background-color: var(--night);
  border: none;
}

#projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  height: 100vh;
  padding: 10% 0;
}

.HHimg{
  width: 42vw;
}

.mainProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.mainProjects img{
  width: 100%;
}

.projectCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  width: 36%;
  min-width: 320px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--night);
  transition: 0.3s;
  filter: drop-shadow(-1px 13px 16px rgba(0, 0, 0, 0.3));
}

.projectCard:hover{
  scale: 1.04;
}
.projectCard h2{
  margin: 0;
}

#projects p{
  color: var(--light);
  padding: 4px 8px;
  font-size: .9vw;
  margin: 0;
  align-self: start;
}

.projTech{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sectionTitle{
  color: var(--blue1);
  width: fit-content;
  margin: 0;
}

.projectInfo{
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transition: 0.25s;
  height: 100%;
  padding: 4px;
}
.projectInfo:hover{
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.projLinks{
  padding-bottom: 8px;
}


/* Media Query */
@media(max-device-width: 1400px){ 
    .projectCard p{
      align-self: center;
      font-size: 1vw;
      width: 100%;
    }
    #projects p{
      font-size: .8rem;
    }
    #projects h1{
      font-size: 18px;
    }
}

/* Media Query */
@media(max-device-width: 1500px){ 
    #projects{
      display: flex;
      padding-top: 16%;
      align-items: center;
      flex-direction: column;
    }
}
