.projects a{
  /* text-decoration: none; */
  color: var(--light);
  margin: 12px;
}

.projects{
  height: 100vh;
}

.HHimg{
  width: 42vw;
}

.mainProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.mainProjects img{
  width: 100%;
}

.projectCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  width: 36%;
  min-width: 420px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--night);
  transition: 0.3s;
  filter: drop-shadow(-1px 13px 16px rgba(0, 0, 0, 0.3));
}

.projectCard:hover{
  scale: 1.05;
}
.projects p{
  color: var(--light);
  padding: 16px;
  font-size: .8vw;
}

.projIcons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sectionTitle{
  color: var(--blue1)
}

.travelogue, .fotobook, .hapihour{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  transition: 0.25s;
  height: 100%;
}
.travelogue:hover, 
.fotobook:hover, 
.hapihour:hover{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}